

p {
       color:black;
       background-color:white;
       margin-top: 100px;
       border-style: none;
       text-align: center;
       font-style: normal;   
       height: 100px;
       
}

main p{
       color:black;
       background-color:white;
       margin-top: 70px;
       border-style: dotted;
       text-align: center;
       font-style: italic;
       width: 20%;
       
}

footer p{
         color:white;
         background-color:blue;
         margin-top: 70px;
         border-style: none;
         text-align: center;
         font-style: italic;
         padding-right: 50px;
         

}

nav p {
       color:black;
       background-color:white;
       margin-top: 70px;
       border-style: none;
       text-align: center;
       font-style: italic; 
       padding-top: 50px;

}

header{

       color:yellow;
       background-color:blue;
       margin-top: 100px;
       border-style: none;
       text-align: center;
       font-style: normal;   
       height: 100px;
       
       background-color:#000000;
       margin-top: 70px;
       border-style: double;
       text-align: center;
       font-style: normal; 
}

h1,h2, p{
       color:#000000;
}

.center {

         margin: auto;
         width: 50%;
         border: 3px solid black;
         padding: 10px;
   
        

