p {
       color: red;
       background-color:blue;
}

main p{
       color:green;
       background-color:yellow;
}

footer p{
         color:black;
         background-color:white;

}

nav p {
       color:green;
       background-color:yellow;

}

header{
       background-color:purple;

}

h1,h2, p{
       color:red;
}

   
        

